In [1]:
import pandas as pd
import numpy as np
import redapy

In [2]:
ruta_l=r"C:\Users\Guillermo\Desktop\Python\05. Lib gestión pública"
## Abrimos el shp de límites departamentales 2017.
# dep17=gpd.read_file(ruta_l+"\\Bases originales\Límites nacionales\\wlimites_depa.shp")
# dep17=dep17[["iddpto","geometry"]].copy()
# dep17=dep17.set_index("iddpto")

# df=pd.read_excel(ruta_l+"\\Bases originales\\identi_INEI.xlsx") ## identificación etnica
# df2=pd.read_excel(ruta_l+"\\Bases originales\\identi_INEI_pro.xlsx",) ## tiene DNI
### df scrapeada por Diego usando el lenguaje Redatam y el portal de redatam
#df3=pd.read_excel(ruta_l+"\\Bases originales\\tablas_redatam.xlsx") ## tiene DNI
### df de ocupaciones económicas
df4=pd.read_excel(ruta_l+"\\Bases originales\\ocupación_2017.xlsx") ## ocupaciones 2017
### df de edad en años
df5=pd.read_excel(ruta_l+"\\Bases originales\\Edad en años_2017.xlsx") ## edad en años

#### Frecuencias Univariables

In [3]:
list_c=["AGRICULTORES Y TRABAJADORES CALIFICADOS AGROPECUARIOS, FORESTALES Y PESQUEROS",
       "PROFESIONALES TECNICOS"]
redapy.conversion_redatam_matriz(df4, fila_filtro=list_c)

resp,"AGRICULTORES Y TRABAJADORES CALIFICADOS AGROPECUARIOS, FORESTALES Y PESQUEROS",PROFESIONALES TECNICOS
ubigeo,,
010101,707,1038
010102,41,2
010103,270,4
010104,222,3
010105,247,3
...,...,...
250302,2166,48
250303,1632,24
250304,1261,49
250305,730,27
250401,289,21

In [7]:
%timeit redapy.conversion_redatam_matriz(df5)

7.44 s ± 343 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
%timeit redapy.conversion_redatam_matriz(df5)
%timeit redapy.conversion_redatam_matriz(df5, continuous=True, kind='intervalos', valor_inicio=0, intervalo=18)
%timeit redapy.conversion_redatam_matriz(df5, continuous=True, kind='descriptivos').head()

6.84 s ± 172 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
10.6 s ± 525 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
7.8 s ± 157 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [5]:
redapy.conversion_redatam_matriz(df5, continuous=True,  kind='intervalos', valor_inicio=0, intervalo=30).head()
redapy.conversion_redatam_matriz(df5, continuous=True, kind='descriptivos').head()

resp            0-29  30-59  60-89  90-119
ubigeo ubigeo
0101   0101    27105  18869   6132   167.0
0102   0102    40394  23499   6403   148.0
0103   0103    12510   9115   2932    92.0
0104   0104    28737  10550   1604    10.0
0105   0105    22843  14782   5900   201.0

### Frecuencias Tablas cruzadas

In [1]:
import os
from redapy.limpieza_univar import list_ubigeo_index
from redapy.limpieza_univar import extrac_freq_ubigeo

import pandas as pd
import numpy as np
import redapy

In [2]:
ruta_l=r"C:\Users\Guillermo\Desktop\Python\05. Lib gestión pública"
dfc1=pd.read_excel(ruta_l+"\\Bases originales\\carac_vivienda_2017.xlsx")

In [4]:
fil_loc=["Red Pública dentro de la Vivienda"]
col_loc=["Total"]
redapy.tabla_cruzada(dfc1,fila_filtro=fil_loc)

fila               RED PUBLICA DENTRO DE LA VIVIENDA  \
columna RED PUBLICA DE DESAGÜE DENTRO DE LA VIVIENDA
ubigeo
0101                                            8755
0102                                            6216
0103                                            3343
0104                                             358
0105                                            4510
...                                              ...
2403                                            5228
2501                                           24300
2502                                            1619
2503                                            3767
2504                                               2

fila                                                                                \
columna RED PUBLICA DE DESAGÜE FUERA DE LA VIVIENDA, PERO DENTRO DE LA EDIFICACION
ubigeo
0101                                                   354
0102                                                   509
0103                                                   256
0104                                                    23
0105                                                   371
...                                                    ...
2403                                                   438
2501                                                  2405
2502                                                   229
2503                                                   348
2504                                                     0

fila                                                                          \
columna POZO SEPTICO, TANQUE SEPTICO O BIODIGESTOR LETRINA (CON TRATAMIENTO)
ubigeo
0101                                           210                       213
0102                                           214                       321
0103                                           146                        87
0104                                            32                       160
0105                                           228                       443
...                                            ...                       ...
2403                                           227                       503
2501                                          2362                      8486
2502                                           361                       524
2503                                           821                       878
2504                                             0                         0

fila                                                      \
columna POZO CIEGO O NEGRO RIO, ACEQUIA, CANAL O SIMILAR
ubigeo
0101                   910                            78
0102                  1948                           100
0103                   546                           138
0104                   643                            59
0105                  1440                             7
...                    ...                           ...
2403                  1138                            24
2501                  3507                          1288
2502                   335                            12
2503                  1078                           118
2504                     0                             0

fila
columna CAMPO ABIERTO O AL AIRE LIBRE OTRO  TOTAL
ubigeo
0101                               97   30  10647
0102                              102   19   9429
0103                               45    8   4569
0104                               22   10   1307
0105                              164    9   7172
...                               ...  ...    ...
2403                              297   88   7943
2501                              785  260  43393
2502                               70   14   3164
2503                              201   64   7275
2504                                0    0      2

[196 rows x 9 columns]

In [6]:
fil_loc=["Red Pública dentro de la Vivienda"]
col_loc=["Total"]

%timeit redapy.tabla_cruzada(dfc1)
%timeit redapy.tabla_cruzada(dfc1, fila_filtro=fil_loc)

4.49 s ± 502 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
4.53 s ± 388 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
4.12 s ± 215 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
4.35 s ± 284 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)