In [1]:
import pandas as pd
import numpy as np
import redapy

In [2]:
ruta_l=r"C:\Users\Guillermo\Desktop\Python\05. Lib gestión pública"

# df=pd.read_excel(ruta_l+"\\Bases originales\\identi_INEI.xlsx") ## identificación etnica
# df2=pd.read_excel(ruta_l+"\\Bases originales\\identi_INEI_pro.xlsx",) ## tiene DNI
### df scrapeada por Diego usando el lenguaje Redatam y el portal de redatam
#df3=pd.read_excel(ruta_l+"\\Bases originales\\tablas_redatam.xlsx") ## tiene DNI
### df de ocupaciones económicas
df4=pd.read_excel(ruta_l+"\\Bases originales\\ocupación_2017.xlsx") ## ocupaciones 2017
### df de edad en años
df5=pd.read_excel(ruta_l+"\\Bases originales\\Edad en años_2017.xlsx") ## edad en años

### Frecuencias Univariables

##### Categoricas

In [8]:
## ocupaciones
%timeit redapy.conversion_redatam_matriz(df4)
redapy.conversion_redatam_matriz(df4)

resp,"AGRICULTORES Y TRABAJADORES CALIFICADOS AGROPECUARIOS, FORESTALES Y PESQUEROS",JEFES Y EMPLEADOS ADMINISTRATIVOS,"MIEMBROS DEL PODER EJECUTIVO, LEGISLATIVO, JUDICIAL Y PERSONAL DIRECTIVO DE LA ADMINISTRACION PUBLICA Y PRIVADA",OCUPACIONES ELEMENTALES,OCUPACIONES MILITARES Y POLICIALES,"OPERADORES DE MAQUINARIA INDUSTRIAL, ENSAMBLADORES Y CONDUCTORES DE TRANSPORTE",PROFESIONALES CIENTIFICOS E INTELECTUALES,PROFESIONALES TECNICOS,"TRABAJADORES DE LA CONSTRUCCION, EDIFICACION, PRODUCTOS ARTESANALES, ELECTRICIDAD Y LAS TELECOMUNICACIONES",TRABAJADORES DE LOS SERVICIOS Y VENDEDORES DE COMERCIOS Y MERCADOS
ubigeo,,,,,,,,,,
010101,707,1387,85,2193,196,792,2794,1038,1584,2697
010102,41,2,1,26,0,0,11,2,1,3
010103,270,3,2,60,0,9,17,4,7,39
010104,222,7,3,46,0,5,8,3,16,15
010105,247,5,2,30,0,4,3,3,7,8
...,...,...,...,...,...,...,...,...,...,...
250302,2166,93,5,815,2,116,80,48,161,461
250303,1632,44,2,625,1,121,37,24,110,305
250304,1261,65,4,833,2,157,48,49,186,331
250305,730,32,3,426,2,121,52,27,110,287
250401,289,62,4,94,0,10,130,21,29,59

In [10]:
##ocupaciones con filtro 
list_c=["AGRICULTORES Y TRABAJADORES CALIFICADOS AGROPECUARIOS, FORESTALES Y PESQUEROS",
       "PROFESIONALES TECNICOS"]
%timeit redapy.conversion_redatam_matriz(df4, fila_filtro=list_c)
redapy.conversion_redatam_matriz(df4, fila_filtro=list_c)

1min 21s ± 3.08 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

resp,"AGRICULTORES Y TRABAJADORES CALIFICADOS AGROPECUARIOS, FORESTALES Y PESQUEROS",PROFESIONALES TECNICOS
ubigeo,,
010101,707,1038
010102,41,2
010103,270,4
010104,222,3
010105,247,3
...,...,...
250302,2166,48
250303,1632,24
250304,1261,49
250305,730,27
250401,289,21

##### Continuas

In [3]:
%timeit redapy.conversion_redatam_matriz(df5)
redapy.conversion_redatam_matriz(df5).head()

6.83 s ± 394 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

resp,EDAD 0,EDAD 1 AÑO,EDAD 10 AÑOS,EDAD 100 AÑOS,EDAD 101 AÑOS,EDAD 102 AÑOS,EDAD 103 AÑOS,EDAD 104 AÑOS,EDAD 105 AÑOS,EDAD 106 AÑOS,...,EDAD 90 AÑOS,EDAD 91 AÑOS,EDAD 92 AÑOS,EDAD 93 AÑOS,EDAD 94 AÑOS,EDAD 95 AÑOS,EDAD 96 AÑOS,EDAD 97 AÑOS,EDAD 98 AÑOS,EDAD 99 AÑOS
ubigeo,,,,,,,,,,,,,,,,,,,,,
0101,874,875,921,2,0,0,0,0,0,1,...,45,22,27,17,17,15,10,4,7,0
0102,1420,1504,1570,2,1,1,0,0,2,0,...,33,28,17,23,8,10,8,9,3,3
0103,365,432,462,1,0,0,0,1,0,0,...,29,12,16,8,7,14,2,1,0,1
0104,1173,1319,1238,1,0,0,0,0,0,0,...,0,2,1,2,1,1,1,1,0,0
0105,779,805,932,3,1,1,2,0,1,0,...,42,40,33,19,14,16,15,5,7,1

In [4]:
%timeit redapy.conversion_redatam_matriz(df5)
%timeit redapy.conversion_redatam_matriz(df5, continuous=True, kind='intervalos', valor_inicio=0, intervalo=18)
%timeit redapy.conversion_redatam_matriz(df5, continuous=True, kind='descriptivos').head()

6.22 s ± 459 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
11.6 s ± 241 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
8.59 s ± 400 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
redapy.conversion_redatam_matriz(df5, continuous=True, kind='intervalos', valor_inicio=0, intervalo=18).head()

          fre
resp     0-17  18-35  36-53 54-71 72-89 90-107 108-125
ubigeo
0101    16949  14913  11503  6155  2586  167.0     0.0
0102    28132  18309  14287  7250  2318  148.0     0.0
0103     8586   6049   5613  3094  1215   92.0     0.0
0104    21843  10106   6371  2314   257   10.0     0.0
0105    16390  10041   8866  5506  2722  200.0     1.0

In [5]:
redapy.conversion_redatam_matriz(df5, continuous=True, kind='descriptivos').head()

,numero de casos,suma,maximo,minimo,promedio,varianza,des estandar,coeficiente de variacion
ubigeo,,,,,,,,
0101,52273,1642097,106,0,31.413866,462.561331,21.507239,68.464159
0102,70444,1983446,105,0,28.156351,436.928879,20.902844,74.238468
0103,24649,776172,104,0,31.488985,480.518936,21.920742,69.614000
0104,40901,871444,100,0,21.306178,312.477366,17.677029,82.966682
0105,43726,1369800,115,0,31.326899,528.227034,22.983190,73.365672

### Frecuencias Tablas cruzadas

In [7]:
ruta_l=r"C:\Users\Guillermo\Desktop\Python\05. Lib gestión pública"

dfc1=pd.read_excel(ruta_l+"\\Bases originales\\carac_vivienda_2017.xlsx") ## Características de la vivienda
dfc2=pd.read_excel(ruta_l+"\\Bases originales\\Edad_sexo.xlsx") ## Edad en años por sexo del entrevistado

##### Variables categóricas

In [6]:
%timeit redapy.tabla_cruzada(dfc1)
%timeit redapy.tabla_cruzada(dfc1, fila_filtro=fil_loc)

4.49 s ± 502 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
4.53 s ± 388 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [8]:
fil_loc=["Red Pública dentro de la Vivienda"]
col_loc=["Total"]
redapy.tabla_cruzada(dfc1,fila_filtro=fil_loc).head()

fila               RED PUBLICA DENTRO DE LA VIVIENDA  \
columna RED PUBLICA DE DESAGÜE DENTRO DE LA VIVIENDA
ubigeo
0101                                            8755
0102                                            6216
0103                                            3343
0104                                             358
0105                                            4510

fila                                                                                \
columna RED PUBLICA DE DESAGÜE FUERA DE LA VIVIENDA, PERO DENTRO DE LA EDIFICACION
ubigeo
0101                                                   354
0102                                                   509
0103                                                   256
0104                                                    23
0105                                                   371

fila                                                                          \
columna POZO SEPTICO, TANQUE SEPTICO O BIODIGESTOR LETRINA (CON TRATAMIENTO)
ubigeo
0101                                           210                       213
0102                                           214                       321
0103                                           146                        87
0104                                            32                       160
0105                                           228                       443

fila                                                      \
columna POZO CIEGO O NEGRO RIO, ACEQUIA, CANAL O SIMILAR
ubigeo
0101                   910                            78
0102                  1948                           100
0103                   546                           138
0104                   643                            59
0105                  1440                             7

fila
columna CAMPO ABIERTO O AL AIRE LIBRE OTRO  TOTAL
ubigeo
0101                               97   30  10647
0102                              102   19   9429
0103                               45    8   4569
0104                               22   10   1307
0105                              164    9   7172

##### Variables continuas con categoricas

In [9]:
%timeit redapy.tabla_cruzada(dfc2, continuous=True, kind='intervalos',valor_inicio=0,intervalo=30)
redapy.tabla_cruzada(dfc2, continuous=True, kind='intervalos',valor_inicio=0,intervalo=30).head()

11.1 s ± 691 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

       Hombre                      Mujer                      Total         \
fila     0-29  30-59 60-89 90-119   0-29  30-59 60-89 90-119   0-29  30-59
ubigeo
0101    14135  10014  3086   66.0  14368  10131  3601  105.0  28503  20145
0102    20919  12677  3521   81.0  21214  12590  3031   67.0  42133  25267
0103     6540   4812  1464   35.0   6478   4743  1508   57.0  13018   9555
0104    14576   5590   898    6.0  15370   5292   734    4.0  29946  10882
0105    11816   7887  2815   68.0  11400   7202  3115  133.0  23216  15089


fila   60-89 90-119
ubigeo
0101    6687  171.0
0102    6552  148.0
0103    2972   92.0
0104    1632   10.0
0105    5930  201.0

In [10]:
%timeit redapy.tabla_cruzada(dfc2, continuous=True, kind='descriptivos')
redapy.tabla_cruzada(dfc2, continuous=True, kind='descriptivos').head()

14.1 s ± 810 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

                Hombre                                                \
       numero de casos     suma maximo minimo   promedio    varianza
ubigeo
0101             27301   854544    106      0  31.300831  446.811189
0102             37198  1069743    105      0  28.758078  441.747888
0103             12851   402438    104      0  31.315695  462.484026
0104             21070   459563    100      0  21.811248  325.332906
0105             22586   699576    115      0  30.973878  497.526635

                                                       Mujer           ...  \
       des estandar coeficiente de variacion numero de casos     suma  ...
ubigeo                                                                 ...
0101      21.137909                67.531461           28205   908087  ...
0102      21.017799                73.084853           36902  1034149  ...
0103      21.505442                68.673046           12786   405219  ...
0104      18.036987                82.695804           21400   447211  ...
0105      22.305305                72.013280           21850   693592  ...

                                                       Total                  \
       des estandar coeficiente de variacion numero de casos     suma maximo
ubigeo
0101      21.813031                67.750837           55506  1762631    106
0102      20.279542                72.364393           74100  2103892    105
0103      21.815286                68.834445           25637   807657    104
0104      16.997189                81.335175           42470   906774    100
0105      23.429962                73.810638           44436  1393168    115


       minimo   promedio    varianza des estandar coeficiente de variacion
ubigeo
0101        0  31.755684  461.746151    21.488279                67.667506
0102        0  28.392605  426.699384    20.656703                72.753815
0103        0  31.503569  469.213829    21.661344                68.758381
0104        0  21.350930  307.185772    17.526716                82.088770
0105        0  31.352237  522.966891    22.868469                72.940471

[5 rows x 24 columns]

In [11]:
redapy.tabla_cruzada(dfc2, continuous=True, kind='descriptivos')["Hombre"].head()

,numero de casos,suma,maximo,minimo,promedio,varianza,des estandar,coeficiente de variacion
ubigeo,,,,,,,,
0101,27301,854544,106,0,31.300831,446.811189,21.137909,67.531461
0102,37198,1069743,105,0,28.758078,441.747888,21.017799,73.084853
0103,12851,402438,104,0,31.315695,462.484026,21.505442,68.673046
0104,21070,459563,100,0,21.811248,325.332906,18.036987,82.695804
0105,22586,699576,115,0,30.973878,497.526635,22.305305,72.013280